* {
    box-sizing: border-box;
    padding: 10px;
        }

  .my-3 h1,h3,p{color: aliceblue;}

  /*.container-fluid a{background-color: #e5d946;
    color: #155306;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    }*/

    .nav-enlance{background: #e5d933;
    display: inline-block ;
    color: #0f4106;
    padding: 5px 20px 5px;
    text-decoration: none;
    font-size: larger;
    border-radius: 5px;
    margin-top: 4px;
       }
    .nav-enlance:hover{
      background:#6f7679;
      color:azure;
    }
    
    .container-fluid{background-color: #0e0d0d;
    }

  .row::after {
    content: "";
    clear: both;
    display: table;
    padding: 1px;
  }

  .animate__animated.animate__bounce {
    --animate-duration: 1.5s;
  }
  
  [class*="col-"] {
    float: left;
    font-size: 25px;
    padding: 0px;
     ;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
     }
  
    .menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    width: 100%;
  }
  
  .menu li {
    padding: 15px;
    margin-bottom: 2px;
    border-radius: 30px ;
    background-color: #fafaf6;
    color: #222020;
    box-shadow: 0 1px 3px #e5d933, 0 1px 2px #037403;
  }

  .menu li:hover {
    background-color: #6f7679;
    }
  
  .aside {
    background-color: #e5d933;
    color: #0f0e0f;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

    .footer{
    background-color: #e5d933;
    color: #1a1818;
    text-align: center;
    font-size: 12px;
    padding: 1px;
  }

  .footer a{color:#0e0d0d;font-size: 25px;
  background-color: azure;
  margin:2px;
  padding-right: 5px;
  border-radius: 5px;
   }

  
   /*For mobile phones:*/
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets:*/
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }    

    /* estilo de colección*/
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
/*----hace responsivo mi iframe--*/
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
  }
  .embed-container iframe,textarea{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
  }


